
 <div class="grid grid-cols-3 gap-4">
     <div>
          <img src="assets/images/alegre-mujer-mediana-edad-cabello-rizado_1262-20859.avif" alt="Isabel López">
          <h2 class="text-center text-2xl pt-2 font-semibold"> Isabel López</h2>
          <p class="text-center"> 26 años. Comenzó a participar en torneos con tan solo <br>10 años. Astuta y perspicaz.</p>
        </div>
        <div>
            <img src="assets/images/retrato-nina-europea-piel-bronceada-cabello-oscuro_176420-28206.avif" alt="Cristina Balsa">  
             <h2 class="text-center text-2xl pt-2 font-semibold"> Cristina Balsa</h2>
             <p class="text-center"> 30 años. La más veterana del equipo.<br> Ha participado en más de 40 torneos de ajedrez.</p>
             </div>
             <div>
                 <img src="assets/images/retrato-mujer-asiatica-feliz-sonriendo-posando-brazos-cruzados-confiados-pecho-pie-contra-fondo-estudio_1258-89269.avif" alt="Mónica Molina">
                 <h2 class="text-center text-2xl pt-2 font-semibold"> Mónica Molina </h2>
                 <p class="text-center"> 25 años. Apasionada del ajedrez.<br> Con mucha confianza en sí misma. </p>
                </div>
                <div>
                    <img src="assets/images/joven-brasilena-aislada-fondo-blanco-manteniendo-brazos-cruzados-posicion-frontal_1368-350221.avif" alt="Andrea González">
                    <h2 class="text-center text-2xl pt-2 font-semibold"> Andrea González</h2>
                    <p class="text-center"> 28 años. Sabe adaptarse a los ritmos del juego a la perfección. <br> Aprende de las derrotas y nunca se rinde.</p>
                </div>
                <div>
                    <img src="assets/images/retrato-amable-atractivo-joven-20s-mujer-anteojos_1258-48039.avif" alt="Gloria Nagore">
                    <h2 class="text-center text-2xl pt-2 font-semibold"> Gloria Nagore</h2>
                    <p class="text-center"> 18 años. La última incorporación al equipo. <br> Es capaz de superar la tensión y afrontar con positividad <br> los problemas que se vayan desarrollando.</p>
                 </div>
                 <div>
                <img src="assets/images/feliz-mujer-joven-posar-contra-pared-blanca_176420-29213.avif" alt="Paula Moldon">
                <h2 class="text-center text-2xl pt-2 font-semibold" > Paula Moldon </h2>
                <p class="text-center"> 22 años. Tiene una alta capacidad de concentración. <br> No hay rival que pueda con ella. </p>
             </div>
            </div>
        </div>